@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: dark;
}

body {
  color: #ccc;
  background: black;
  padding: 1.6rem;
  overflow-y: scroll;
  max-width: 50rem;
  margin-inline: auto;
}
footer{
  margin-top:2rem;
  font-size: 0.9rem;
}

div {
  border-radius: 8px;
  padding-block:1rem;
  padding-inline: 1.2rem;
  margin-block-end: 0.8rem;
  background-color: #fff1;
}
a, input {
  display: inline-block;
  border-radius: 8px;
  margin-inline-end: 0.8rem;
  margin-block-end: 0.8rem;
  background-color: #ccc;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  padding-block:0.6rem;
  padding-inline: 1rem;
}
a:hover {
  filter: brightness(0.8)
}
input{
  font-weight: 500;
  background-color: #eee;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  color: #eee;
  letter-spacing: -0.75px;
  line-height: 3;
}
h2{
  color: #eee;
  font-size:1.1rem;
  font-weight: 600;
  line-height: 2;
}
p{
  margin-block: 0.2rem;
  margin-block-end: 0.6rem;
}

small{
  opacity: 0.6;
}
code{
  background-color: #000e;
}